@model ICollection<TODOList.Models.Task>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Mock data present</h1>
<div class="parent">
    <div class="block">
        @foreach (var task in @Model)
        {
            <div class="task-details">
                <span>Task: @task.Title</span>
            </div>
        }
    </div>
</div>